.container {
	position: relative;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.message {
	position: absolute;
	text-align: center;
	right: 759px;
    top: -164px;
}
