.input_edit_long {
	width: 500px;
	height: 35px;
	padding: 5px;
	font-size: 18px;
	border-radius: 5px;
	text-align: center;
}

.input_edit {
	width: 100px;
	height: 35px;
	padding: 5px;
	font-size: 18px;
	border-radius: 5px;
	text-align: center;
}

.input_reg {
	width: 230px;
	height: 35px;
	padding: 5px;
	font-size: 18px;
	border-radius: 5px;
	text-align: center;
}
