.container {
	max-width: 1200px;
	width: 100%;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	gap: 100px;
}

.loader_container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
.left_container {
	width: 600px;
}
.h2_title {
	margin-bottom: 40px;
	font-size: 28px;
	font-weight: 600;
	color: black;
}

h3 {
	margin: 15px 0;
	font-size: 24px;
	font-weight: 600;
	color: rgba(9, 9, 9, 0.841);
}

img {
	width: 100%;
	max-width: 600px;
	border-radius: 1rem;
	transition: 0.3s;
	transform: 0.3s;
	opacity: 0;
	animation: ani 0.5s forwards;
}
@keyframes ani {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.right_container {
	position: relative;
	width: 100%;
	max-width: 500px;
}
.p_gram {
	margin: 10px 0;
	font-size: 18px;
	color: rgb(57, 57, 57);
}

.text_content {
	font-size: 18px;
	color: black;
}

.p_category {
	font-size: 24px;
	color: black;
}

.p_price {
	font-size: 22px;
	font-weight: 600;
	color: black;
}

.button_basket {
	margin-top: 50px;
	border-radius: 1em;
	font-size: 18px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	color: white;
	background-color: #222;
	transition: 0.15s;
	transform: 0.15s;
}
.button_basket:hover {
	background-color: #4d4d4d;
	transform: 0.15s;
	transition: 0.15s;
}

.duplication_Error {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
	padding: 5px 10px;
	background-color: #efefeffe;
	font-size: 24px;
	color: rgb(0, 121, 67);
	transition: 0.3s;
	transform: 0.3s;
	opacity: 0;
	animation: error 0.5s forwards;
}
@keyframes error {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.text_duplication_Erro {
	margin-left: 15px;
	font-size: 18px;
	font-weight: 500;
	text-align: center;

}

/* -------------------- */


