.headerConteiner {
	position: fixed;
	z-index: 9999;
	font-size: 30px;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border: 1px solid rgba(212, 212, 212, 0.678);
	background-color: white;
}

.headerContent {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	margin: auto;
	max-width: 1400px;
}

.statusContainer {
	position: absolute;
	display: flex;
	align-items: center;
	right: 0;
	top: 73px;
	padding: 10px;
	height: 40px;
	border-radius: 12px;
	background-color: rgb(5 112 45 / 72%);
	color: rgb(255, 255, 255);
	font-size: 18px;
	z-index: 150;
}

